/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('svg');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

<<<<<<< HEAD
html {
	scroll-behavior: smooth;
}

body { overflow-y: auto !important;}

=======
>>>>>>> f05836a67c278646085fa9c873dab62e09cb7554
.full-size {
	height: 100vh;
}
.QH-size {
	height: 68vh;
	overflow: visible;
}
#area1 {
	color: firebrick;
<<<<<<< HEAD
	background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
=======
	background-image: url("http://i.huffpost.com/gen/1371009/thumbs/o-AFRICAN-AMERICAN-READING-A-BOOK-facebook.jpg");
>>>>>>> f05836a67c278646085fa9c873dab62e09cb7554
	background-color: #bb8355;
}
#area2 {
	color: firebrick;
<<<<<<< HEAD
	/*background-image: url("https://wallpaper-house.com/data/out/8/wallpaper2you_240242.jpg");*/
=======
	background-image: url("https://wallpaper-house.com/data/out/8/wallpaper2you_240242.jpg");
>>>>>>> f05836a67c278646085fa9c873dab62e09cb7554
	background-color: #bb8355;
}
#area3 {
	color: firebrick;
<<<<<<< HEAD
	/*background-image: url("http://www.printawallpaper.com/upload/designs/college_books_detail.jpg");*/
		background-image:  url("https://www.oecd-nea.org/upload/docs/image/jpeg/2020-11/book_stack.jpg");

=======
	background-image: url("http://www.printawallpaper.com/upload/designs/college_books_detail.jpg");
>>>>>>> f05836a67c278646085fa9c873dab62e09cb7554
}
#area4 {
	color: firebrick;
	background-image: url("https://thumbs.dreamstime.com/z/people-taking-reading-books-library-set-illustrations-people-taking-reading-books-library-set-illustrations-124160862.jpg");
}
#area5 {
  color: firebrick;
<<<<<<< HEAD
  /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI2vmFbBNmoIwnUacxRuJmSB2raTCG5R_8B6sNaCptAEnR29sZmA");*/
  background-image: url("https://www.princeton.edu/sites/default/files/styles/1x_full_2x_half_crop/public/images/2017/05/20170509_FirestoneLibraryPlaza_crop__DJA_009a.jpg?itok=BQ37Mpsi");
=======
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQI2vmFbBNmoIwnUacxRuJmSB2raTCG5R_8B6sNaCptAEnR29sZmA");
>>>>>>> f05836a67c278646085fa9c873dab62e09cb7554
}

.HomeSection {
  background: cover;
  background-color: darkorange;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: monospace;
  color: orangered;


}
.HomeSection br {
  display: block;
  background-color: orangered;
}
.HomeSection img {
  border-radius: 250px;
  float: left;
}
#titlebar h1 {
	font-family: 'Montserrat';
	font-weight: bold;
}
<<<<<<< HEAD

.areaHead {
	text-align: center;
}

=======
>>>>>>> f05836a67c278646085fa9c873dab62e09cb7554
.useBookButtons {
	height: 20px !important;
	padding: 15px !important;
	line-height: 5px;
}
.AdvSidebar {
	display:none;
	height: 85%;
	width: 100%;
	background:black;
	color: rgba(255, 255, 255, 0.25);
	border-top: 10px black solid;
	text-align: center;
	line-height: 1rem;
	font-weight: bold;
	font-size: 0.9em;
}
.AdvSidebar ul {
	list-style: none;
	list-style-type: none;
	padding: 0;
}
.AdvSidebar ul li:hover {
	color: white;
	transition-duration: 1s;

}
.AdvSidebar ul li {
	border-bottom: 1px dotted rgba(255, 255, 255, 0.03);
	box-sizing: inherit;
	padding: 30px;
}
.AdvSidebar hr {
	height: 0.05px;
	border-color: gray;
	background-color: gray;
	color: gray;
}
.AdvSidebarButton2{
	text-align: center;
	background: transparent;
	height:60px;;
	width:100%;
	opacity: 0.7;
	color: white;
	background: #994015;
	font-size: 2em;
	line-height: 20px;
}
.AdvSidebarButton2:hover{
	opacity: 1;
	background: #994015;
}
.AdvSidebarButton2:active{
	border: 2px ridge black;
	opacity: 1;
	background: #994015;
}

.AdvSidebarButton{
	text-align: center;
	background: transparent;
	height:85%;
	width:50px;
	opacity: 0.7;
	color: white;
	background: #994015;
	font-size: 2em;
	line-height: 20px;
}
.AdvSidebarButton:hover{
	opacity: 1;
	background: #994015;
}
.AdvSidebarButton:active{
	border: 2px ridge black;
	opacity: 1;
	background: #994015;
}
.sidebar {
	height: 100%;
	width: 20%;
	z-index: 1;
	top: 15%;
}
#leftSidebar{
	left:0px;
}
#rightSidebar{
	right:0px;
	text-align: right;
}

#forgotPwd{
	color: dodgerblue;
	cursor: pointer;
	text-decoration: none;
}
#forgotPwd:hover{
	text-decoration: underline;
}
.comment{
	margin: 5px;
}
.commentTime{
	text-align: right;
}
.commenterDetail{
	text-align: center;
}
.comments{
	background: white;
	border: 1px solid gray;
	border-radius: 4px;
}
.commenter{
	background: #0d4e6c;
	color: white;
}
.programHead a{
    font-family: 'Open Sans';
    font-weight: 900;
    color: black !important;
}
.showCom{
    text-align: right;
}
#programs{
    overflow: auto;
	height: 500%;
}
.commentBoxPar{
    text-align: center;
}
.commentBox{

}
body{
    font-family: 'Open Sans';
    font-weight: light;
    overflow-y: auto;
	background: #ffb28c;
}
.container{
	margin-top: 5%;
	margin-left: 21%;
	margin-right: 21%;

}
<<<<<<< HEAD
.customButton {
=======
button, input[type=submit]{
>>>>>>> f05836a67c278646085fa9c873dab62e09cb7554
    background-color: white;
    transition-duration: 0.4s;
    border-radius: 3px;
    border:1px;
    color: #0d4e6c;
    padding: 10px;
    font-family: 'Open Sans';
    font-size: 16px;
    border: 1px #0d4e6c solid;
    cursor: pointer;
}
<<<<<<< HEAD
.customButton:hover {
    background-color: #0d4e6c;
    color: white;
}
.customButton {
    height: 35px;
}
.custombutton:active {
=======
button:hover, input[type=submit]:hover {
    background-color: #0d4e6c;
    color: white;
}
input[type=submit] {
    height: 35px;
}
button:active, input[type=submit]:active {
>>>>>>> f05836a67c278646085fa9c873dab62e09cb7554
    background-color: black;
    color: white;
    border-bottom: 3px black groove;
}
<<<<<<< HEAD
.username, .password, .email{
=======
.username, .password, #email{
>>>>>>> f05836a67c278646085fa9c873dab62e09cb7554
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 500px;
    height: 50px;
    font-size: 20px;
	font-family: monospace;
}
<<<<<<< HEAD
.username:invalid, .password:invalid, .email:invalid {
=======
.username:invalid, .password:invalid, #email:invalid {
>>>>>>> f05836a67c278646085fa9c873dab62e09cb7554
	    padding:5px;
    border:2px solid red;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 500px;
    height: 50px;
    font-size: 20px;
font-family: monospace;
}
<<<<<<< HEAD
#username:focus:valid, #password:focus:valid, .email:focus:valid {
=======
#username:focus:valid, #password:focus:valid, #email:focus:valid {
>>>>>>> f05836a67c278646085fa9c873dab62e09cb7554
	    padding:5px;
    border:2px solid green;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 500px;
    height: 50px;
    font-size: 20px;
font-family: monospace;
}
.gotProgram{
    border: 2px gray solid;
    padding: 20px;

    background: lightgray;
	border-radius: 2px;

}
#classListDiv{
  text-align:center;
}

.commentDiv{
    text-align: right !important;
}
.ProgramHead{
    text-align: center !important;
}
#titlecard {
background-color:#5D2A1E;
}
#titlebar{
	height:100vh;
	overflow: auto;

	color: orange;
	opacity: 0.8;
<<<<<<< HEAD
/*	background-image:url("https://ae01.alicdn.com/kf/HTB1B3InJpXXXXcKXpXXq6xXFXXX5/3D.jpg");
*/	
	background-image: url("https://www.detroitlabs.com/wp-content/uploads/2018/02/alfons-morales-YLSwjSy7stw-unsplash.jpg");
=======
	background-image:url("https://ae01.alicdn.com/kf/HTB1B3InJpXXXXcKXpXXq6xXFXXX5/3D.jpg");
>>>>>>> f05836a67c278646085fa9c873dab62e09cb7554
	/*background-color: #994015;
	position: fixed;
	border: 1px solid gray;
	border-radius: 5px;

		position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	display: inline-block;
	*/
}
#ProfileB{
  position: absolute;
  top: 60px;
  width: 489px;
  height: 50px;
  left: 0px;
}
#SignUpB{
  position: absolute;
  top: 60px;
  width: 240px;
  height: 50px;
  left: -3px;
}
#LoginB{
  position: absolute;
  top: 60px;
  width: 240px;
  height: 50px;
  left: 245px;
}
#SignUpB, #LoginB, #ProfileB{
  color: blue;

  border: 3px solid black;

}
#SignUpB:hover, #LoginB:hover, #ProfileB:hover{
  color: white;
  background: blue;
}
#SignUpB:active, #LoginB:active, #ProfileB:active{
  color: white;
  background: black;
}
#logo{
  border-radius: 100px;
  border: 4px #d87f54 solid;
  width: 100px;
  height: 80px;
  margin-left: 10px;
  position: relative;
  bottom: 10px;
  cursor: pointer;
  transition-duration: 1s;
}
#logo:hover{
  border-color: #994015;
}

.dropbtn {
background-color: white;
color: black;
padding: 18px;
font-size: 16px;
border: none;
cursor: pointer;
transition-duration: 0.4s;
border-bottom: 5px solid white;
font-family: 'Open Sans';
font-weight: bold;
border-radius: 2px;
}

.dropdown {
position: absolute;
top: 5px;
display: inline-block;
margin-left: 20px;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown:hover .dropbtn:hover {
background-color: #f1f1f1;
border-bottom: 5px solid black;
    color: black;

}
.dropdown:active .dropbtn:active{
background-color: black;
color: white;
border-bottom: none;
}
#name{
background-color: black;
color: white;
border-bottom: none;
position: absolute;
top: -35px;
right: -5px;
height: 45px;
font-size: 2em;
font-family: 'Open Sans';
font-weight: bold;
border-radius: 5px;
padding: 10px;
padding-top: 15px;
transition-duration: 1s;
border-bottom: 5px solid white;
}
.username{
font-size: 20px;
font-family: monospace;
}
#name:hover{
background-color: #f1f1f1;
color:black;
border-bottom: 5px solid black;
}
.Head{
font-size: 2em;
font-family: 'Open Sans';
font-style: italic;
font-weight: bold;
}
#subcont{
font-family: 'Open Sans';
font-weight: lighter;
}
.headli{
font-size: 1.3em;
font-family: 'Open Sans';
font-weight: bold;
background-color: white;
border: 1px white solid;
width: 100px;
border-radius: 4px;
transition-duration: 1s;
border-bottom: 5px solid black;
margin-right: 100px;
padding: 10px;
}
.headli:hover{
background: black;
color: white;
}
.headli:active{
border: none;
}
#content{
/*text-align: center;*/
}
UL{
list-style-position: inside;
}
